{% include('base.html.twig') %}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Modifier une rubrique</h4>
                    </header>
                    <article class="card-body">
                        <form method="post" class="needs-validation" novalidate>
                            <div class="form-group ">
                                <span for="formControlSelect2" class="help-block" required>Sélectionnez la rubrique à modifier</span>
                                <select class="select form-control" id="select" id="formControlSelect2" name="select">
                                    <option selected>Sélectionnez une rubrique</option>
                                    {% for r in rubriques %}
                                    <option value={{ r.Id }}>{{ r.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                    <input type="hidden" value="modifierRubriqueAnnonce" name="action" />
                                <button class="btn btn-danger my-4 btn-block" name="submit" type="submit">Envoyer</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
